@model IEnumerable<AppUser>
@{ 
    Layout = "_Layout";
}

<table class="table table-bordered table-striped">
    <tr><th>ID</th><th>Username</th><th>Email</th><th></th></tr>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Id</td><td>@user.UserName</td><td>@user.Email</td>
            <td>
                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <a class="btn btn-secondary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>